.depoimento{
    display: flex;
    flex-direction: column;
    background-color: rgba(142, 36, 36, 0.1);
    margin: 0 3em 2em 3em;
    row-gap: 1.5em;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}

.depoimento__inicio{
    color: var(--vermelho);
    font-weight: bold;
    font-size: 0.875rem;
}

.depoimento__texto{
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;
}

.depoimento__perfil{
    width: 4em;
}

.depoimento__nome{
    font-weight: bold;
}

.depoimento__cargo{
    font-size: 0.875rem;
}

@media screen and (max-width:800px) {
    .depoimento{
        transform: scale(.8);
        text-align: center;
        margin-top: -100px;
    }

    .depoimento__texto{
        font-size: 12px;
    }
    
}