.metrica__container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -10px;
}

.metrica__container div{
    border: 1px solid var(--cor-cinza-texto);
    padding: 1em;
    border-radius: 10px;
    width: 60vw;
}


.metrica__container-titulo {
    color: var(--vermelho);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.metrica__container-subtitulo {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.7em;
    color: var(--cor-preto-texto);
}

.metrica__container-texto{
    font-size: 0.875rem;
    color: var(--cor-cinza-texto);
}


@media screen and (min-width:1024px) {
    .metrica__container {
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        justify-content: center;
    }

    .metrica__container div{
        border: none;  
        text-align: left; 
        padding-left: 3em;
    }

    .metrica__container-titulo {
        color: var(--vermelho);
        font-size: 3.75rem;
        font-weight: bold;
        margin-bottom: 0.3em;
    }

    .metrica__container-subtitulo {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.7em;
        color: var(--cor-preto-texto);
    }

    .metrica__container-texto{
        font-size: 1rem;
    }



}