.rodape{
    display: flex;
    flex-direction: column;
    row-gap: 1.3em;
    justify-content: center;
    align-items: center;
    background-color: rgba(208, 213, 221, 0.3);
    padding: 4em;
}

.rodape__titulo{
    font-size: 2.25rem;
    font-weight: bold;
}

.rodape__texto{
    color: var(--cor-cinza-texto);
    font-size: 20px;
}

.rodape__cadastro{
    display: flex;
    column-gap: 2.0em;
}

.rodape__email{
    width: 23vw;
    padding: .7em;
    border: solid 1px rgb(208, 213, 221);
    border-radius: 5px;
}

.rodape__cadastrar{
    color: var(--cor-fundo);
    background-color: var(--vermelho);
    padding: .7em;
    border-radius: 5px;
}

.rodape__copyright{
    color: var(--cor-cinza-texto);
    font-size: 1rem;
}