@import url(cabecalho.css);
@import url(metrica.css);

:root{
    --cor-fundo: #ffffff;
    --vermelho: #8E2424;
    --cor-cinza-texto: #667085;
    --cor-preto-texto:#000000;
}

* {
    background-color: var(--cor-fundo);
    font-family: 'Inter', sans-serif;
    color: var(--cor-cinza-texto);
}


