@import url(cabecalho.css);
@import url(metrica.css);
@import url(seção-imagem.css);
@import url(vagas.css); 
@import url(depoimentos.css);
@import url(rodape.css);

:root {
    --cor-fundo: #ffffff;
    --vermelho: #8E2424;
    --cor-cinza-texto: #667085;
    --cor-preto-texto: #000000;
    --fonte: 'Inter', sans-serif;
}

html{
    font-family: var(--fonte);
}






